

<form [formGroup]="userForm" (ngSubmit)="submitForm()">
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="required" for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <small *ngIf="getErrorMessage('email')" class="form-text text-danger">{{getErrorMessage('email','Email')}}</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="required" for="phoneNumber">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" [readonly]="isEditForm">
                <small *ngIf="getErrorMessage('phoneNumber')" class="form-text text-danger">{{getErrorMessage('phoneNumber','Phone Number')}}</small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="isActive" formControlName="isActive">
                  <label class="required form-check-label" for="isActive">
                    Active 
                  </label>
                </div>
              </div>
        </div>
        <div class="col-md-12 text-right">
            <button [disabled]="isLoading" type="submit" class="mb-2 mt-2 btn btn-primary">
                {{buttonText}}
                <div *ngIf="isLoading" class="spinner-border">
                    <span class="sr-only"></span>
                </div>
            </button>
        </div>
    </div>
