<div class="row">
    <div class="col">
        <button type="button" (click)="delete()" class="mb-2 mt-2 btn btn-danger">
            Delete
        </button>
    </div>
    <div class="col text-right">
        <a type="button" [routerLink]="['/add-user']" class="mb-2 mt-2 btn btn-primary">
            Add New Contact
        </a>
    </div>
</div>
<div class="mb-2 mt-2 overflow-auto">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"><input #selectAll type="checkbox" (click)="toggleSelectAll($event)"></th>
                <th scope="col">Phone Number</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody #tbody>
            <ng-container *ngFor="let user of displayUserList">
                <tr>
                    <td><input [attr.identifier]="user.phoneNumber" type="checkbox" /></td>
                    <td><a [routerLink]="['/edit-user',user.phoneNumber]">{{user.phoneNumber}}</a></td>
                    <td>{{user.firstName || 'N.A'}}</td>
                    <td>{{user.lastName || 'N.A'}}</td>
                    <td>{{user.email || 'N.A'}}</td>
                    <td>
                        <ng-container *ngIf="user.isActive;else inActive">
                            <span class="text-success">Active</span>
                        </ng-container>
                        <ng-template #inActive>
                            <span class="text-danger">Inactive</span>
                        </ng-template>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="displayUserList.length===0">
                <tr>
                    <td class="text-center" colspan="6">No contacts present!!!</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="row">
       <div class="col text-right align-self-center">
            Showing page {{currentPage}} out of {{totalPages}}
        </div>
        <div class="col-auto align-self-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" (click)="changePage(-1)">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="changePage(1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>