<div class="row">
    <div class="col-lg-4">
        <div class="input-group mb-2 mt-2">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="col-lg-4 d-none d-lg-block">
    </div>
    <div class="col-lg-4">
        <button type="button" [routerLink]="['add-user']" class="mb-2 mt-2 btn btn-primary">
            Add New Contact
        </button>
    </div>
</div>

<div class="mb-2 mt-2">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>8979798</td>
                <td>asd@sd.com</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>98088</td>
                <td>asd@sd.com</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Larry the Bird</td>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>asd@sd.com</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>