<div class="row">
    <div class="col">
        <button type="button" (click)="delete()" class="mb-2 mt-2 btn btn-danger">
            Delete
        </button>
    </div>
    <div class="col text-right">
        <a type="button" [routerLink]="['/add-user']" class="mb-2 mt-2 btn btn-primary">
            Add New Contact
        </a>
    </div>
</div>
<div class="mb-2 mt-2 overflow-auto">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" (click)="toggleSelectAll($event)"></th>
                <th scope="col">Phone Number</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody #tbody>
            <ng-container *ngFor="let user of userList">
                <tr>
                    <td><input [attr.identifier]="user.phoneNumber" type="checkbox" /></td>
                    <td><a [routerLink]="['/edit-user']">{{user.phoneNumber}}</a></td>
                    <td>{{user.firstName || 'N.A'}}</td>
                    <td>{{user.lastName || 'N.A'}}</td>
                    <td>{{user.email || 'N.A'}}</td>
                    <td>{{user.isActive || 'N.A'}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="userList.length===0">
                <tr>
                    <td class="text-center" colspan="6">No contacts present!!!</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
